@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --bg-color: #8d4b55;
    --secondary-color: #FFFFFF;
    --heading-text-color: #942637;
    --font-family: "Poppins", sans-serif;
    --font-size-small: 10pt;
    --font-size-xs: 7.5pt;
    --font-size-15px: 15pt;
    --font-size-medium: 37pt;
    --font-size-mini-small: 8pt;
    --font-size-20px: 20pt;
    --position-relative: relative;
    --font-weight-bold: 800;
    --position-absolute: absolute;
    --font-weight-500 : 500;
    --d-flex: flex;
    --flex-direction: column;
    --cv-padding: 1cm;
    --width: 382px;
    --font-weight: bold;
    --font-style-italic: italic;
    --text-color-black: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--secondary-color);
    color: var(--text-color-black);
}

.container {
    width: 210mm;
    margin: 0px auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-section{
    background-color: var(--bg-color);
    display: var(--d-flex);
    padding: 40px 40px;
    /* justify-content: space-evenly; */
    height: 190px;
    gap: 82px;
}

.profile-text{
    font-size: var(--font-size-medium);
    color: var(--secondary-color);
    font-weight: var(--font-weight-bold);
}

.profile-title{
    font-size: var(--font-size-20px);
    color: var(--secondary-color);
    font-weight: var(--font-weight-500);
}

.header-info{
    display: var(--d-flex);
    flex-direction: var(--flex-direction);
}

.profile-pic img{
    width: 240px;
    border-radius: 200px;
}

.educational .heading,
.skill .heading,
.contact-section .heading{
    color: var(--heading-text-color);
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-15px);
    padding-top: 15px;
}

.border-bottom{
    border-bottom: 2px solid #8d4b55;
    width: 120px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.contact-section{
    padding-top: 100px;
}

.horizontal-ul li svg {

    flex-shrink: 0;
    fill: #1b1c1f;
    width: 20px; /* Set icon width */
    height: 20px; /* Set icon height */
    margin-right: 5px; /* Space between icon and text */
}

.reference-list p{
    padding-bottom: 10px;
}
.reference-list .reference-item a,
.reference-list p span,
.reference-list p{
    text-decoration: none;
    color: #000;
    font-size: var(--font-size-mini-small);
    line-height: 10pt;
}

.horizontal-ul li a{
    font-size: var(--font-size-small);
    text-decoration: none;
    color: #000;
}

.horizontal-ul li{
    display: var(--d-flex);
    align-items: center;
    padding-bottom: 10px;
    font-size: var(--font-size-small);
}

.educational-ul,
.skill-ul{
    margin: 10px 0px 0px 0px;
    padding: 0 0 0 18px;
    line-height: 10pt;
    font-size: var(--font-size-mini-small);
}

.educational-ul li div,
.skill-ul li{
    padding-bottom: 5px;
    font-size: var(--font-size-mini-small);
}

.educational-ul li{
    padding-bottom: 4px;
}

.main-content{
    display: var(--d-flex);
    justify-content: space-evenly;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
    padding: 0px 40px;
    gap: 30px;
}

.right-section-paragraph{
    font-size: var(--font-size-small);
    line-height: 17px;
}

.left-content{
    width: var(--width);
}

.right-content{
    width: 500px;
}

.experience-item,
.professional-experience{
    font-size: var(--font-size-small);
}
.experience-item {
    margin-top: 10px;
}
.experience-item:first-child {
    margin-bottom: 0px;
}

.professional-experience{
    font-weight: bold;
    margin-bottom: -3px !important;
}
.professional-experience-date{
    font-style: var(--font-style-italic);
    font-size: var(--font-size-small);
    padding-bottom: 5px;
    color: var(--text-color-black) !important;
    font-weight: bold;
}

.responsibilities{
    font-size: var(--font-size-mini-small);
    padding-top: 10px;
}

.padding-bottom-20px{
    padding-bottom: 20px;
}

.activities{
    /* display: var(--d-flex); */
    font-size: var(--font-size-small) !important;
    padding-bottom: 10px;
}

.achievements .date{
    width: 200px;
}

.right-content .about-me{
    padding-top: 20px !important;
}

.footer{
    margin-top: 30px;
    background-color: var(--bg-color);
    height: 20px;
}

.achievements ul li,
.interest-item ul li,
.activity-item ul li,
#experience-section ul li {
    padding-bottom: 5px;
    font-size: var(--font-size-mini-small);
}

.achievements,
.activity-item,
.interest-item,
p.pt-8{
    font-size: var(--font-size-mini-small);
}

#experience-section ul,
.interests ul,
.activities ul,
#award-section ul{
    padding: 0 0 0 15px;
}

.projects-list p{
    padding-bottom: 4px;
}